{% extends "layouts/base.html" %}

{% block title %} Add Content {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}


{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Content Page</h5>
                </div>
                <div class="card-body">
                    <form id="form1" onSubmit="return false">
                        <div class="row">
                            <div class="col-md-5 pr-md-1">
                                <div class="form-group">
                                    <label>Title</label>
                                    <input id="content-title" type="text" class="form-control" name="content-title"
                                           disabled>
                                </div>
                            </div>
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-4">
                                <img src="../../dynamic/{{ image_address }}" height="90px">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 pr-md-1">
                                <div class="form-group">
                                    <label>Category</label>
                                    <input id="category-title" type="text" class="form-control" name="category"
                                           disabled>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 pr-md-1">
                                <div class="form-group">
                                    <label>File Sharing</label>
                                    <input id="is-private" type="text" class="form-control" name="is-private" disabled>
                                </div>
                            </div>
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-4" id="place-download">
                                <button id="download-link" onclick="download_link()"
                                        class="btn btn-neutral btn-round btn-lg btn-block">
                                    Create Download Link
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 pr-md-1">
                                <div class="form-group">
                                    <label>Creator</label>
                                    <input id="creator" type="text" class="form-control" name="creator" disabled>
                                </div>
                            </div>
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-4">
                                <button data-toggle="modal" data-target="#libraryModal" id="addLibrary" type="button"
                                        class="btn btn-success" style="height: 50px "> Add to library
                                </button>
                            </div>
                        </div>
                        <div>
                            <div class="modal fade modal-primary" id="libraryModal" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-login">
                                    <div class="modal-content">
                                        <div class="card card-login card-plain">
                                            <div class="modal-body ">
                                                <form class="form" id="form7" onSubmit="return false">
                                                    <div class="card-content">
                                                        <div class="input-group no-border form-control-lg">
                                                            <select id="libraryA" name="libraryA"
                                                                    class="form-control">
                                                            </select>
                                                        </div>
                                                    </div>
                                                </form>

                                            </div>
                                            <div class="modal-footer text-center pt-4">
                                                <form action="" id='form9' method="post">
                                                    <button type="submit"
                                                            class="btn btn-neutral btn-round btn-lg btn-block">Add
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 pr-md-1">
                                <div class="form-group">
                                    <label>Creation Date</label>
                                    <input id="creation-date" type="text" class="form-control" name="creation-date"
                                           disabled>
                                </div>
                            </div>
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-4">
                                <button data-toggle="modal" data-target="#shareModal" id="shareContent" type="button"
                                        class="btn btn-info" style="height: 50px"> Share content
                                </button>
                            </div>
                        </div>
                        <div>
                            <div class="modal fade modal-primary" id="shareModal" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-login">
                                    <div class="modal-content">
                                        <div class="card card-login card-plain">
                                            <div class="modal-body ">
                                                <form class="form" id="form3" onSubmit="return false">
                                                    <div class="card-content">
                                                        <div class="input-group no-border form-control-lg">
                                                            <input id="username" name="username" type="text"
                                                                   class="form-control" placeholder="Username">
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer text-center pt-4">
                                                <form action="" id='form10' method="post">
                                                    <button type="Share"
                                                            class="btn btn-neutral btn-round btn-lg btn-block"
                                                            onclick="share()">Share
                                                    </button>
                                                </form>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-sm-3">
                            <label>Attachments:</label>
                        </div>
                        <div class="col-sm-3">
                            <button data-toggle="modal" data-target="#attachModal" id="addAttach">
                                <i></i> Add Attachments
                            </button>
                        </div>
                    </div>
                    <div class="container" id="attachList"></div>
                    <hr color="white"/>
                    <form id="form_attribute" onSubmit="return false" action="save/">

                    </form>
                </div>
                <div>
                    <div class="modal fade modal-primary" id="attachModal" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-login">
                            <div class="modal-content">
                                <div class="card card-login card-plain">
                                    <div class="modal-body ">
                                        <form class="form" id="form3" onSubmit="return false">
                                            <div class="card-content">
                                                <div class="input-group no-border form-control-lg">
                                                    <input id="attach-title" name="attach-title" type="text"
                                                           class="form-control" placeholder="Title">
                                                </div>

                                                <div class="input-group no-border form-control-lg" id = "attachments">
                                                    <select id="attach-category" name="attach-category"
                                                            class="form-control">
                                                    </select>
                                                </div>
                                            </div>
                                        </form>
                                        <form enctype="multipart/form-data" id="form4" onSubmit="return false">
                                            {% csrf_token %}
                                            <input id="attach" type="file" name="attach">
                                        </form>
                                    </div>
                                    <div class="modal-footer text-center pt-4">
                                        <button type="submit" class="btn btn-neutral btn-round btn-lg btn-block"
                                                onclick="submitAttachments()">Add
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-fill btn-primary" id="btn-submit" onclick="submitForms1()">Save</button>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script>
        window.onload = function () {
            $('#attachList').empty();
            for (const at of attachments) {
                var div_main = document.createElement("div");
                div_main.setAttribute("class", "row");
                div_main.setAttribute("id", "div_attach_" + at.title);

                var div_text = document.createElement("div");
                div_text.setAttribute("class", "col-sm-4");

                var div_button = document.createElement("div");
                div_button.setAttribute("class", "col-sm-1");

                var div_extra = document.createElement("div");
                div_extra.setAttribute("class", "col-sm");

                div_text.innerHTML = at.title
                div_text.setAttribute("style", "color:white");

                var button = document.createElement("button");
                button.setAttribute("class", "close");
                button.setAttribute("aria-label", "Close");
                var span = document.createElement("span");
                span.setAttribute("aria-hidden", "true");
                span.innerHTML = "&times;";
                span.setAttribute("style", "color:white");
                button.appendChild(span);

                button.onclick = function () {
                    for (var i = 0; i < attachments.length; i++) {
                        if (attachments[i].title === at.title) {
                            attachments.splice(i, 1);
                            attach_titles.splice(i, 1);
                            break;
                        }
                    }
                    id_temp = "div_attach_" + at.title;
                    var elem = document.getElementById(id_temp);
                    elem.remove();
                }

                div_button.appendChild(button);

                div_main.appendChild(div_text);
                div_main.appendChild(div_button);
                div_main.appendChild(div_extra);


                document.getElementById("attachList").appendChild(div_main);
            }
        }
    </script>


    <script>
        function download_link() {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open("POST", 'download-link-content', false); // false for synchronous request
            xmlHttp.onreadystatechange = function () {
                if (xmlHttp.readyState === 4) {
                    document.getElementById("download-link").remove();
                    var btn = document.createElement("a");
                    btn.setAttribute("class", "btn btn-neutral btn-round btn-lg btn-block");
                    btn.innerHTML = "Download";
                    console.log(xmlHttp.response)
                    btn.setAttribute("href", xmlHttp.response);
                    btn.setAttribute("download", "");
                    document.getElementById("place-download").appendChild(btn);
                }
            };
            xmlHttp.send(null);
            return xmlHttp;
        }
    </script>

    <script type="text/javascript">
        $("#addLibrary").click(function () {

            $("#libraryA option").remove();
            var items = {{libraries|safe}}
                $.each(items, function (i, item) {
                    $('#libraryA').append($('<option>', {
                        value: item.value,
                        text: item.title
                    }));
                });
            $("#libraryA option").each(function () {
                $(this).prop("class", "dropdown-item");
            });
            var libId = $('#libraryA').val()
            var url = 'addLibrary/' + libId + '/'
            document.getElementById("form9").setAttribute("action", url)
        });
    </script>

    <script type="text/javascript">
        $("#addAttach").click(function () {
            $("#attach").val('');
            $("#attach-title").val('');
            var cat_id = categoryID;
            $("#attach-category option").remove();
            var s =
            {{attach_categories|safe}}
            var items = $.grep(s, function (v) {
                return v.category_id === parseInt(cat_id);
            });
            $.each(items, function (i, item) {
                $('#attach-category').append($('<option>', {
                    value: item.value,
                    text: item.title
                }));
            });
            $("#attach-category option").each(function () {
                $(this).prop("class", "dropdown-item");
            });
        });
    </script>
    <script>
        handleAttributes();
        var attachments =
        {{attachments|safe}}
        var attach_titles = []
        for (const at of attachments) {
            attach_titles.push(at.title)
        }
        if ("{{error}}" !== "None") {
            alert("{{error | safe}}");
        }

        const btn = document.getElementById('btn-submit');

        btn.addEventListener('click', function handleClick(event) {
            event.preventDefault();
            submitForms();
        });

        var ctitle = document.getElementById('content-title');
        var ccategory = document.getElementById('category-title');
        var categoryID =
        {{categoryID}}
        var cprivate = document.getElementById('is-private');
        var creator = document.getElementById('creator');
        var creation_date = document.getElementById('creation-date');

        ctitle.setAttribute("value", "{{title}}");
        ccategory.value = "{{category}}";
        cprivate.value = "{{privacy}}";
        creator.value = "{{creator_user}}";
        creation_date.value = "{{creation_date}}";

        /*function submitForms() {
          var form = document.createElement("form");
          form.setAttribute("method", "post");
          form.setAttribute("enctype", "multipart/form-data")
          form.setAttribute("onSubmit", "return false")
          var title = document.getElementById("content-title").cloneNode(true);
          var category = document.getElementById("category").cloneNode(true)
          var is_private = document.getElementById("is-private").cloneNode(true)
          var file = document.getElementById("content-file").cloneNode(true)
          form.appendChild(title);
          form.appendChild(category);
          form.appendChild(is_private);
          form.appendChild(file);

          var attach_files = document.createElement("input").cloneNode(true)
          attach_files.setAttribute("type", "file");
          attach_files.setAttribute("name", "attachments");
          attach_files.setAttribute("multiple", "multiple");

          let list = new DataTransfer();

          var attach_titles = "[ ";
          var attach_categories = "[ ";
          var i = 1;
          for(const at of attachments) {
            attach_titles = attach_titles.concat("\"");
            attach_titles = attach_titles.concat(at['title'].value);
            attach_titles = attach_titles.concat("\"");
            attach_titles = attach_titles.concat(",")

            attach_categories = attach_categories.concat("\"");
            attach_categories = attach_categories.concat(at['category'].value);
            attach_categories = attach_categories.concat("\"");
            attach_categories = attach_categories.concat(",")
            var attachment_file = at['file']
            list.items.add(attachment_file.files[0])
            i = i + 1;
          }
          attach_files.files = list.files;
          attach_titles = attach_titles.slice(0, -1) + ']';
          attach_categories = attach_categories.slice(0, -1) + ']';
          var at_title = document.createElement("input").cloneNode(true);
          at_title.setAttribute("type", "text");
          at_title.setAttribute("class", "form-control");
          at_title.setAttribute("name", "attach-titles");
          at_title.setAttribute("value", attach_titles);

          var at_category = document.createElement("input").cloneNode(true);
          at_category.setAttribute("type", "text");
          at_category.setAttribute("class", "form-control");
          at_category.setAttribute("name", "attach-categories");
          at_category.setAttribute("value", attach_categories);

          form.appendChild(at_title);
          form.appendChild(at_category);
          form.appendChild(attach_files);
          $(document.body).append(form);
          form.submit();

        }*/

        function handleAttributes() {
            var arr =
            {{attribute_key_values|safe}}
            for (let i = 0; i < Math.floor( (arr.length + 1) / 2 ); i = i + 1) {

                div_m = document.createElement("div");
                div_m.setAttribute("class", "row");

                akv1 = arr[2 * i]

                div1 = document.createElement("div");
                div1.setAttribute("class", "col-md-6");

                div3 = document.createElement("div");
                div3.setAttribute("class", "form-group");

                lbl = document.createElement("label");
                lbl.innerHTML = akv1.key;

                inp = document.createElement("input");
                inp.setAttribute("type", "text");
                inp.setAttribute("class", "form-control");
                inp.setAttribute("name", akv1.key);
                inp.setAttribute("id", akv1.key);
                inp.setAttribute("value", akv1.value);

                div3.appendChild(lbl);
                div3.appendChild(inp);
                div1.appendChild(div3);

                div_m.appendChild(div1.cloneNode(true));

                if (2 * i + 1 < arr.length) {
                    akv2 = arr[2 * i + 1]

                    div1 = document.createElement("div");
                    div1.setAttribute("class", "col-md-6");

                    div3 = document.createElement("div");
                    div3.setAttribute("class", "form-group");
                    lbl = document.createElement("label");
                    lbl.innerHTML = akv2.key;
                    inp = document.createElement("input");
                    inp.setAttribute("type", "text");
                    inp.setAttribute("class", "form-control");
                    inp.setAttribute("name", akv2.key);
                    inp.setAttribute("id", akv2.key);
                    inp.setAttribute("value", akv2.value);
                    div3.appendChild(lbl);
                    div3.appendChild(inp);
                    div1.appendChild(div3);
                    div_m.appendChild(div1.cloneNode(true));

                }

                document.getElementById("form_attribute").appendChild(div_m.cloneNode(true));
            }
        }


        function submitAttachments() {
            var attachment_file = document.getElementById("attach")
            if (attachment_file.value.length === 0) {
                alert("attachment file is empty");
            } else {
                var attachment_title = document.getElementById("attach-title")
                if (attachment_title.value === "") {
                    alert("attachment title is empty");
                } else if (attach_titles.includes(attachment_title.value)) {
                    alert("attachment title is not unique");
                } else {
                    var attachment_category = document.getElementById("attach-category")
                    attachments.push({
                        'file': attachment_file.cloneNode(true),
                        'title': attachment_title.cloneNode(true).value,
                        'category': attachment_category.cloneNode(true)
                    })
                    attach_titles.push(attachment_title.value);
                    $('#attachModal').modal('hide');

                    $('#attachList').empty();
                    for (const at of attachments) {
                        var div_main = document.createElement("div");
                        div_main.setAttribute("class", "row");
                        div_main.setAttribute("id", "div_attach_" + at.title);

                        var div_text = document.createElement("div");
                        div_text.setAttribute("class", "col-sm-4");

                        var div_button = document.createElement("div");
                        div_button.setAttribute("class", "col-sm-1");

                        var div_extra = document.createElement("div");
                        div_extra.setAttribute("class", "col-sm");

                        div_text.innerHTML = at.title
                        div_text.setAttribute("style", "color:white");

                        var button = document.createElement("button");
                        button.setAttribute("class", "close");
                        button.setAttribute("aria-label", "Close");
                        var span = document.createElement("span");
                        span.setAttribute("aria-hidden", "true");
                        span.innerHTML = "&times;";
                        span.setAttribute("style", "color:white");
                        button.appendChild(span);

                        button.onclick = function () {
                            for (var i = 0; i < attachments.length; i++) {
                                if (attachments[i].title === at.title) {
                                    attachments.splice(i, 1);
                                    attach_titles.splice(i, 1);
                                    break;
                                }
                            }
                            id_temp = "div_attach_" + at.title;
                            var elem = document.getElementById(id_temp);
                            elem.remove();
                        }

                        div_button.appendChild(button);

                        div_main.appendChild(div_text);
                        div_main.appendChild(div_button);
                        div_main.appendChild(div_extra);


                        document.getElementById("attachList").appendChild(div_main);
                    }
                }
            }
        }
    </script>
    <script>

        function share() {
            var flag = 0;
            var username = $('#username').val();
            var usernames_values = {{ usernames_values|safe }};

            for (username_value in usernames_values) {
                if (username.valueOf() == usernames_values[username_value].valueOf()) {
                    flag = 1;
                }
            }
            if (flag == 0) {
                alert("User name is not valid");
            } else {
                var url = 'shareContent/' + username + '/'
                document.getElementById("form10").setAttribute("action", url)
            }
        }
    </script>
    <script>
        function submitForms1() {
            var form = document.createElement("form");
            form.setAttribute("method", "post");
            form.setAttribute("enctype", "multipart/form-data")
            form.setAttribute("onSubmit", "return false")
            form.setAttribute("action","save/")
            var arr =
            {{attribute_key_values|safe}}
            for (i in arr) {
                var attr_elem = document.getElementById(arr[i].key)
                form.appendChild(attr_elem);
            }
            var attach_files = document.createElement("input").cloneNode(true)
            attach_files.setAttribute("type", "file");
            attach_files.setAttribute("name", "attachments");
            attach_files.setAttribute("multiple", "multiple");

            let list = new DataTransfer();

            var attach_titles = "[ ";
            var attach_categories = "[ ";
            var i = 1;
            for (const at of attachments) {
                attach_titles = attach_titles.concat("\"");
                attach_titles = attach_titles.concat(at['title'].value);
                attach_titles = attach_titles.concat("\"");
                attach_titles = attach_titles.concat(",")

                attach_categories = attach_categories.concat("\"");
                attach_categories = attach_categories.concat(at['category'].value);
                attach_categories = attach_categories.concat("\"");
                attach_categories = attach_categories.concat(",")
                var attachment_file = at['file']
                list.items.add(attachment_file.files[0])
                i = i + 1;
            }
            attach_files.files = list.files;
            attach_titles = attach_titles.slice(0, -1) + ']';
            attach_categories = attach_categories.slice(0, -1) + ']';
            var at_title = document.createElement("input").cloneNode(true);
            at_title.setAttribute("type", "text");
            at_title.setAttribute("class", "form-control");
            at_title.setAttribute("name", "attach-titles");
            at_title.setAttribute("value", attach_titles);

            var at_category = document.createElement("input").cloneNode(true);
            at_category.setAttribute("type", "text");
            at_category.setAttribute("class", "form-control");
            at_category.setAttribute("name", "attach-categories");
            at_category.setAttribute("value", attach_categories);

            form.appendChild(at_title);
            form.appendChild(at_category);
            form.appendChild(attach_files);
            $(document.body).append(form);
            form.submit();
        }
    </script>
    <script>
        function submitForms() {
            var form = document.createElement("form");
            form.setAttribute("method", "post");
            form.setAttribute("enctype", "multipart/form-data")
            form.setAttribute("onSubmit", "return false")
            var title = document.getElementById("content-title")
            var category = document.getElementById("category")
            var is_private = document.getElementById("is-private")
            var file = document.getElementById("content-file")
            form.appendChild(title);
            form.appendChild(category);
            form.appendChild(is_private);
            form.appendChild(file);

            var attach_files = document.createElement("input").cloneNode(true)
            attach_files.setAttribute("type", "file");
            attach_files.setAttribute("name", "attachments");
            attach_files.setAttribute("multiple", "multiple");

            let list = new DataTransfer();

            var attach_titles = "[ ";
            var attach_categories = "[ ";
            var i = 1;
            for (const at of attachments) {
                attach_titles = attach_titles.concat("\"");
                attach_titles = attach_titles.concat(at['title'].value);
                attach_titles = attach_titles.concat("\"");
                attach_titles = attach_titles.concat(",")

                attach_categories = attach_categories.concat("\"");
                attach_categories = attach_categories.concat(at['category'].value);
                attach_categories = attach_categories.concat("\"");
                attach_categories = attach_categories.concat(",")
                var attachment_file = at['file']
                list.items.add(attachment_file.files[0])
                i = i + 1;
            }
            attach_files.files = list.files;
            attach_titles = attach_titles.slice(0, -1) + ']';
            attach_categories = attach_categories.slice(0, -1) + ']';
            var at_title = document.createElement("input").cloneNode(true);
            at_title.setAttribute("type", "text");
            at_title.setAttribute("class", "form-control");
            at_title.setAttribute("name", "attach-titles");
            at_title.setAttribute("value", attach_titles);

            var at_category = document.createElement("input").cloneNode(true);
            at_category.setAttribute("type", "text");
            at_category.setAttribute("class", "form-control");
            at_category.setAttribute("name", "attach-categories");
            at_category.setAttribute("value", attach_categories);

            form.appendChild(at_title);
            form.appendChild(at_category);
            form.appendChild(attach_files);
            $(document.body).append(form);
            form.submit();

        }
    </script>
{% endblock javascripts %}
