{%load static %}
<!doctype html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Styles used in sidebar -->

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'my-page/my-page-icon.css' %}">

    <link rel="stylesheet" href="{% static 'my-page/owl.carousel.min.css' %}"> 

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}"> -->
    
    <!-- Style -->
    <link rel="stylesheet" href="{% static 'my-page/my-page4.css' %}">



    <!-- Libraries Stylesheet -->
    <link href="{% static 'my-page/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'my-page/lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">


    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Handlee&family=Nunito&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Flaticon Font -->
    <link href="{% static 'my-page/lib/flaticon/font/flaticon.css' %}" rel="stylesheet">


    <link rel="stylesheet" href="{% static 'my-page/card_style.css' %}">

    

    <!-- category -->
    <!-- <link href="{% static 'category-style.css' %}" rel="stylesheet"> -->

    <link rel="stylesheet" href="{% static 'my-page/button.css' %}">

    <title>My Page</title>
  </head>
  <body>


    <script src=
    "https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">
        </script>
    <script src=
    "https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js">
        </script>
        <script src=
    "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js">
        </script>

    <style>
      .navbar-nav>.active>a {
          background-color: #C0C0C0;
          color: cyan;
      }

      .navbar-nav .nav-item a:hover{
        color: fuchsia;
        background-color: whitesmoke;
      }

    .navbar-nav{
        text-align: center;
      }

    .navbar-nav li{
      background-color: #e7e7e7;
      display:inline;
      padding: 25px;
  }

  .navbar-nav li a
  {
    padding:30px 30px;
    font-size: large;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 15px;
  }

  .hello{
    position:fixed;
    top:0;
    left:0;
    height: 300px;
    width: 100%;
    z-index: 1;
  }


  </style>

  

<script>
  $(document).ready(function () {

      $('ul.navbar-nav > li')
              .click(function (e) {
          $('ul.navbar-nav > li')
              .removeClass('active');
          $(this).addClass('active');
      });
  });
</script>

    

  <div class="hello" style="margin:0; height:100px; background-image: linear-gradient( 135deg, #9f05ff69 10%, #fd5e086b 100%);"> 
    
      <aside class="sidebar">
        <div class="toggle" style="overflow:hidden;">
          <a href="#" class="burger js-menu-toggle" data-toggle="collapse" data-target="#main-navbar" style="color:white;">
                <span></span>
              </a>
        </div>
        <div class="side-inner">
  

          <div class="profile">
            <div style="position: relative;">
              <img src= "../../../{{user.account.image}}" alt="user image" style="display: block;">
              <a href="/personal-info" style="color: black;">
                <span class="icon-pencil mr-3" style="position: absolute; bottom:0px; left:175px;"></span>
              </a>
            </div>

            <h3 class="name">{{user.first_name}} {{user.last_name}}</h3>
          </div>        
  
          <div class="nav-menu">
            <ul>

              
              {% if view == 'my-page'%}
                  {% if type == 'files' %}
                    <li class="active"><a href="/my-page/files/all/" style="white-space: pre;"><span class="icon-files-o mr-3"></span>   Files</a></li>
                  {%else%}
                    <li><a href="/my-page/files/all/" style="white-space: pre;"><span class="icon-files-o mr-3"></span>   Files</a></li>
                  {%endif%}

                  {% if type == 'libraries' %}
                    <li class="active"><a href="/my-page/libraries/all/" style="white-space: pre;"><span class="icon-book mr-3"></span>   Library</a></li>
                  {%else%}
                    <li><a href="/my-page/libraries/all/" style="white-space: pre;"><span class="icon-book mr-3"></span>   Library</a></li>
                  {%endif%}


                  {% if type == 'shared' %}
                    <li class="active"><a href="/my-page/shared/all" style="white-space: pre;"><span class="icon-share2 mr-3"></span>   Shared with me</a></li>
                  {%else%}
                    <li><a href="/my-page/shared/all" style="white-space: pre;"><span class="icon-share2 mr-3"></span>   Shared with me</a></li>
                  {%endif%}

              {% else %}
              {%endif%}

              <li><a href="/" style="white-space: pre;"><span class="icon-home mr-3"></span>   Home</a></li>
              <li><a href="/personal-info" style="white-space: pre;"><span class="icon-person mr-3"></span>   Personal Info</a></li>
              <li><a href="/logout" style="white-space: pre;"><span class="icon-sign-out mr-3"></span>   Logout</a></li>
            </ul>
          </div>
        </div>
        
      </aside>


    </div>

    <div style="height: 120px;">
            
    </div>

    {% if view == 'my-page'%}
        <ul class="navbar-nav">
          {% if categoryTitle == 'all' %}
            <li class = "nav-item active">
                <a class="nav-link" href="../all/" > All </a>
            </li>
          {%else%}
            <li class = "nav-item">
              <a class="nav-link" href="../all/" > All </a>
            </li>
          {%endif%}

          {%for category in categories%}
            {% if categoryTitle == category.title %}
              <li class="nav-item active">
                <a href="../{{category.title}}/" class="nav-link">{{category.title}}</a>
              </li>
            {%else%}
              <li class="nav-item">
                <a href="../{{category.title}}/" class="nav-link">{{category.title}}</a>
              </li>
            {%endif%}
          {%endfor%}
        </ul>
    {% else %}
    {%endif%}


  <div style="height: 25px;"> </div>

  <div class="grid-container2">
    <div class="grid-container" style="align-self: center;">
    
      {%for item in items%}
      <div class="grid-item">
        <div class="card">
          <img src="../../../dynamic/{{item.category.image}}" alt="Category image" style="height:150px;">

          <div style="height: 10px;"></div>

          {% if file_or_lib == 'file'%}
            <div>
              <a class = 'name'  href="/content/{{item.id}}">{{item.title}}</a>
            </div>
          {%else%}
            <div>
              <a class = 'name'  href="/library/{{item.id}}">{{item.title}}</a>
            </div>
          {%endif%}

          <div style="height: 10px;"></div>

          {% if file_or_lib == 'file'%}
            <div style="font-size:medium" class="post-meta"><span>created:</span> {{item.file.creation_date}}</div>
          {%else%}
          {%endif%}

          <div style="height: 10px;"></div>

          {% if file_or_lib == 'file'%}
            <div style="font-size:medium" class="post-meta"><span>owner:</span> {{item.creator_account.user.username}}</div>
          {%else%}
          {%endif%}

          {% if file_or_lib == 'lib'%}
            <div> contains {{item.contents|length}} files</div>
          {%else%}
          {%endif%}

          <div class="title" style="justify-content: space-between; display: flex; padding: 20px 20px;">
            
              {%if item.is_private%}
                <span class="icon-lock mr-3" style = "margin-left: 20px;"></span>
              {%else%}
                <span style = "margin-left: 20px;"></span>
              {%endif%}


              <a style="color: black; margin-right: 20px;" class="icon-trash mr-3" href="#" onclick="my_func('{{item.category.title}}', '{{item.title}}')"> </a>

              
              <input type="button" value="dorost" onclick="my_func('{{item.category.title}}', '{{item.title}}')">

              <div> {{item.title}}</div>
              

              <script>
                function my_func(category, title){
                  var form = document.createElement('form')
                  var inp1 = document.createElement("input")
                  var inp2 = document.createElement("input")
                  form.setAttribute("method", "post")
                  form.setAttribute("action", "/delete-library")
                  inp1.setAttribute("type", "text")
                  inp2.setAttribute("type", "text")
                  inp1.setAttribute("value", category)
                  inp2.setAttribute("value", title)
                  inp1.setAttribute("name", "category")
                  inp2.setAttribute("name", "title")
                  inp1.setAttribute("class", "form-control");
                  inp2.setAttribute("class", "form-control");

                  form.appendChild(inp1)
                  form.appendChild(inp2)

                  $(document.body).append(form);
                  console.log(form)
                  form.submit();
                }
              </script>

          </div>
        </div>
      </div>
      {%endfor%}


    </div>  

  </div>


  {%if file_or_lib == 'lib'%}
      <a href="/add-library" class="button-3"> + add library </a>
  {%else%}
      <a href="/content" class="button-3"> + add file </a>
  {%endif%}

    <main>
    </main>
    

    


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="{%static 'my-page/lib/easing/easing.min.js' %}"></script>
    <script src="{%static 'my-page/lib/easing/easing.min.js' %}"></script>
    <script src="{%static 'my-page/lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{%static 'my-page/lib/isotope/isotope.pkgd.min.js' %}"></script>
    <script src="{%static 'my-page/lib/lightbox/js/lightbox.min.js' %}"></script>



    <script src="{%static 'main-page-js/jquery-3.3.1.min.js' %}"></script>
    <script src="{%static 'main-page-js/popper.min.js' %}"></script>
    <script src="{%static 'main-page-js/bootstrap.min.js' %}"></script>






    <!-- <script>
      function post_delete_content(){
        var form = document.createElement('form')
        var inp1 = document.createElement("input")
        form.setAttribute("method", "post")
        form.setAttribute("action", "/delete-content")
        inp1.setAttribute("type", "number")
        inp1.setAttribute("value", "{{item.id}}")
        inp1.setAttribute("name", "conent_id")
        inp1.setAttribute("class", "form-control")

        form.appendChild(inp1)

        $(document.body).append(form);
        console.log(form)
        form.submit();
      }
    </script> -->

  </body>
</html>




              <!-- <a style="color: black; margin-right: 20px;" class="icon-trash mr-3" href="" onclick="my_func()"> </a>

              <script>
                function my_func(){
                  var form = document.createElement('form')
                  var inp1 = document.createElement("input")
                  var inp2 = document.createElement("input")
                  form.setAttribute("method", "post");
                  form.setAttribute("action", "/delete-library");
                  inp1.setAttribute("type", "text");
                  inp2.setAttribute("type", "text");
                  inp1.setAttribute("value", "{{item.category.title}}");
                  inp2.setAttribute("value", "{{item.title}}");
                  inp1.setAttribute("name", "category");
                  inp2.setAttribute("name", "title");
                  inp1.setAttribute("class", "form-control");
                  inp2.setAttribute("class", "form-control");
          
                  form.appendChild(inp1)
                  form.appendChild(inp2)
          
                  $(document.body).append(form);
                  console.log('lnt')
                  form.submit();
                }
              </script> -->
          


              

              <!-- {%if file_or_lib == 'lib' %}
                  {%if  user.account == item.account%}
                      <a style="color: black; margin-right: 20px;" class="icon-trash mr-3" href="" onclick="my_func()"> </a>

                      <script>
                        function my_func(){
                          var form = document.createElement('form')
                          var inp1 = document.createElement("input")
                          var inp2 = document.createElement("input")
                          form.setAttribute("method", "post")
                          form.setAttribute("action", "/delete-library")
                          inp1.setAttribute("type", "text")
                          inp2.setAttribute("type", "text")
                          inp1.setAttribute("value", "{{item.category.title}}")
                          inp2.setAttribute("value", "{{item.title}}")
                          inp1.setAttribute("name", "category")
                          inp2.setAttribute("name", "title")
                          inp1.setAttribute("class", "form-control");
                          inp2.setAttribute("class", "form-control");
                  
                          form.appendChild(inp1)
                          form.appendChild(inp2)
                  
                          $(document.body).append(form);
                          console.log(form)
                          form.submit();
                        }
                      </script>
                  {%else%}
                  {%endif%}
              {%else%}
                  {%if  user.account == item.creator_account%}
                      <a style="color: black; margin-right: 20px;" class="icon-trash mr-3" href="" onclick="post_delete_content()"> </a>
                  {%else%}
                  {%endif%}
              {%endif%} -->
